<div class="comment-card">
  <div class="comment-author">
    <img src="" alt="">
    <div>
      <a href="/user/{{username}}">{{username}}</a>
    </div>
  </div>
  <p class="comment-edit" id="comment-edit">
    {{content}}
  </p>
  <hr>
  <div class="bottom">
    <p class="timestamp">
      <i class="fa fa-clock-o"></i>
      {{dateCreated}}
    </p>
    <button class="edit-btn" id="cmtEditBtn">
      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
    </button>
    <button class="delete-btn" id="cmtDeleteBtn">
      <i class="fa fa-trash-o" aria-hidden="true"></i>
    </button>
    <button class="done-btn" id="cmtDoneBtn">
      <i class="fa fa-check" aria-hidden="true"></i>
    </button>
    <br>
  </div>
</div>