<div id="pageHeader">
    <a href="/">Forums</a>
    {{#if session.isLoggedIn}}
        <a href="/createThread" class="newpost">New Thread &nbsp;<i class="fa fa-plus-square" aria-hidden="true"></i></a>
    {{/if}}
</div>
<div class="block">
    <table>
        <tr class="forum-header">
            <td>Forum Topics</td>
            <td>Published By</td>
            <td>Date Published</td>
        </tr>
        {{#each threads}}
            {{> thread}}
        {{/each}}
    </table>
</div>