<div id="pageHeader">
    <a href="/">Forums</a>
    <a href="createthread.html" class="newpost">New Thread &nbsp;<i class="fa fa-plus-square" aria-hidden="true"></i></a>
</div>
<div class="block">
    <table>
        <tr class="forum-header">
            <td>Forum Topics</td>
            <td>Upvotes</td>
            <td>Downvotes</td>
            <td>Date Published</td>
        </tr>
        {{>thread}}
    </table>
</div>