<tr class="table-body">
    <td><a href="thread1.html" class="topic">Why is Sleep Important for Our Health?</a></td>
    <td class="likeCell">5</td>
    <td class="dislikeCell">1</td>
    <td class="postTime">5/1/2022 5:00 PM</td>
</tr>
<tr class="table-body">
    <td><a href="thread2.html" class="topic">Spy x Family Becomes Japan's Most Popular Anime</a></td>
    <td class="likeCell">3</td>
    <td class="dislikeCell">2</td>
    <td class="postTime">5/4/2022 1:34 PM</td>
</tr>
<tr class="table-body">
    <td><a href="thread3.html" class="topic">Valorant's New Agent Fade</a></td>
    <td class="likeCell">10</td>
    <td class="dislikeCell">2</td>
    <td class="postTime">5/5/2022 5:55 PM</td>
</tr>
<tr class="table-body">
    <td><a href="thread4.html" class="topic">Tecware B68 vs Royal Kludge RK68</a></td>
    <td class="likeCell">6</td>
    <td class="dislikeCell">0</td>
    <td class="postTime">5/5/2022 7:23 PM</td>
</tr>
<tr class="table-body">
    <td><a href="thread5.html" class="topic">STEAK PH: FAX OR CAP</a></td>
    <td class="likeCell">1</td>
    <td class="dislikeCell">6</td>
    <td class="postTime">5/7/2022 9:45 AM</td>
</tr>