<link rel="stylesheet" type="text/css" href="/css/about.css" />
<div id="about-container">
    <div id="logo-container">
        <img src="/images/icon_logo.png" id="icon" alt="icon" />
        <img src="/images/text_logo.png" id="logo" alt="logo" />
    </div>
    <p id="slogan">&ldquo;A site where you can post anything you want!&rdquo;</p>
    <img src="/images/forum_board.png" id="board" alt="board" />
    <h3>Developed By</h3>
    <br>
    <p>Patrick Angelo F. Aquino |   
        Patrick Elijah T. Tan
    </p>
    <br><br>
    <hr>
    <div id="npmlib-container">
        <img src="/images/library.png" id="lib" alt="lib" />
    <div id="npmlib">
        <h3> NPM &amp; Libraries</h3>
        <br>
        <ul id="resources">
        <li><strong>Font Awesome:</strong><br>https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css</li>
        <li><strong>Google Fonts:</strong><br>https://fonts.googleapis.com/css2?family=Open+Sans</li>
        <li><strong>Jquery:</strong><br>https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js</li>
        </ul>
        <br>
        <img src="/images/dependencies.png" id="dep" alt="dependencies" />
    </div>
    </div>
    <br>
</div>