<link rel="stylesheet" type="text/css" href="/css/createthread.css" />
<div id="pageHeader">
    <a href="/createThread">Create a New Thread</a>
    <div class="break"></div>
</div>
<div id="sub-container">
    <div class="postTab flex">
        <div class="tabColumn">
            <h3>POST</h3>
        </div>
</div>
<div class="formBox">
    <form method="POST"  action="/addThread" enctype="multipart/form-data">
        <div class="titleArea">
            <input required type="text" id="threadTitle" name="threadTitle" min="3" max="50" placeholder="Title (3-50 characters)">
        </div>
        <div id="contentArea" class="displayBlock">
            <textarea required id="threadContent" name="threadContent" class="textAreaSize" min="1" placeholder="What are your thoughts...?"></textarea>
            <input type="file" id="img" name="img" accept="image/*">
            <h3 id="message">{{> messages}}</h3>
            <input type="submit" id="postBtn" value="Post" />
            <a href="/" id="cancelBtn">Cancel</a>
        </div>
    </form>
</div>
<br/>
