<section id="settings">
    <h1>Delete User</h1>
    <div class="break"></div>
    <div class="break"></div>
    <form id="form" method="post" action="/deleteUser/{{session.username}}">    
        <h1>{{username}}</h1>
        <center><img src="/images/user.png" id="userimg" alt="display picture"></center>
        <br />
        <center><p><strong>Please enter your current password to delete your account.</strong></p></center>
        <br />
        <center><h3 id="message">{{> messages}}</h3></center>
        <br />
        <div id="infoEdit">
            <div id="left">
                <label for="currPass" id="currPassLabel"><strong>Current Password</strong></label>
            </div>
            <div id="right">
                <input type="password" id="currPass" name="currPass" placeholder="required" maxlength="16"/>
            </div>
        </div>
        <br />
        <center><input type="submit" id="save" value="Delete Account"/></center>
    </form>
</section>