<section id="info">
    <h1>Sign Up</h1>
    <h3 id="message">{{> messages}}</h3>
    <form id="infoForm" method="post" action="/addUser" enctype="multipart/form-data">
        <label for="user" id="userLabel"><strong>Username*</strong></label>
        <input type="text" id="user" name="user" placeholder="8-16 characters" maxlength="16"/>
        <br />
        <label for="emailAddress" id="emailLabel"><strong>Email Address*</strong></label>
        <input type="text" id="emailAddress" name="email" placeholder="ex. johndoe@gmail.com" maxlength="320" />
        <br />
        <label for="pass" id="passLabel"><strong>Password*</strong></label>
        <input type="password" id="pass" name="pass" placeholder="8-16 characters" maxlength="16"/>
        <br />
        <label for="confirmPass" id="confirmLabel"><strong>Confirm Password*</strong></label>
        <input type="password" id="confirmPass" name="confirmPass" placeholder="Password should match" maxlength="16"/>
        <br />
        <label for="desc"><strong>Short Description</strong></label>
        <br />
        <textarea id="desc" name="desc" placeholder="Short Description (max 150 characters)" maxlength="150"></textarea>
        <br />
        <label for="img"><strong>Profile Picture (Optional)</strong></label>
        <br />
        <input type="file" id="img" name="img" accept="image/*">
        <br />
        <input type="submit" id="submit" value="Register" />
        <br />
        
        <span>Have an account already? <a href="/login" class="link">LOG IN</a></span>
    </form>
</section>