<section id="settings">
    <h1>User successfully deleted</h1>
    <div class="break"></div>
    <div class="break"></div>
    <center><p id="deleted">If you wish to create a new thread on MindHub, please create a new account.</p></center>
</section>