<section id="profile">
    <img src="/images/user.png" id="profileImg" alt="{{username}} display picture"/>
    <div id="profile-name">
        <h1>{{username}}</h1>
        {{#sameUser session.username username }}
        {{/sameUser}}
    </div>
    <div id="userDesc">
        <p>{{description}}</p>
    </div>
</section>
<br>